/* Add to css/syntax.css */

.lineno { 
  color: #ccc; 
  padding: 0; 
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.linenos { 
  color: #ccc; 
  padding: 0; 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre {
    white-space: pre;
    font-size: small;
    overflow: auto;
    width: inherit;
}

.highlight code {
    display: block;
    white-space: pre; 
    font-size: small;
    padding: 0;
    border-spacing: 0px;
}

.highlighttable {
    display: block;
    overflow-x: auto;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border-spacing: 0px;
}

.highlighttable td {
    border: none;
}

.highlighttable tr {
    border: none;
}

.highlighttable .highlight {
    padding: 0px;
    margin: 0px;
    border: none;
}

.highlighttable pre code {
    display: block;
    white-space: pre; 
    font-size: small;
    padding: 0;
    border: none;
}

.highlighttable td.linenos {
    padding: 0;
    font-size: small;
    border: none;
}

.highlighttable td.code {
    width:100%;
    padding: 0;
    font-size: small;
    border: none;
}
