---
layout: default
---

<div class="home">

  <!--<h1 class="page-heading">Posts <small>({{ paginator.total_posts }})</small></h1>-->
  <header class="post-header">
    <h1 class="post-title">Posts
        <p class="post-meta">Total: {{ paginator.total_posts }}</p>
    </h1>
  </header>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span class="post-meta">{{ post.date | date:"%b %-d, %Y" }}</span>
            </br>
            {% if post.description %}
                <small>
                    {{ post.description }}
		                <!--</br>
                    <a href="{{ post.url | prepend: site.baseurl }}">Read More</a>-->
                </small>
            {% endif %}
            {% if post.tags %}
              </br>
              <small class="tags">
                <i class="fa fa-tags" aria-hidden="true"></i> 
                {% for tag in post.tags %}
                  {% if forloop.index0 != 0 %} {% endif %}{{ tag }}
                {% endfor %}
              </small>
            {% endif %}
        </h3>
      </li>
    {% endfor %}
  </ul>
  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

  {% if paginator.total_pages > 1 %}
  <div class="pagination" align="center">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">NEW</a>
    {% endif %}
    {% if paginator.previous_page && paginator.next_page %}
       - 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">OLDER</a>
    {% endif %}
  </div>
  {% endif %}

</div>
